<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TorreDeBabel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TorreDeBabel.Properties.Settings.baseLangueConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Data\baseLangue.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <TorreDeBabel.Properties.Settings>
            <setting name="DisplayFont" serializeAs="String">
                <value>Segoe UI, 12pt</value>
            </setting>
            <setting name="LogoFont" serializeAs="String">
                <value>Britannic Bold, 27.75pt</value>
            </setting>
        </TorreDeBabel.Properties.Settings>
    </applicationSettings>
</configuration>